* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --color-padrao: #043469;
    --color-padrao2: #0650A1;
    --color-padrao3: #0863C7;
    --color-padrao4: #0970E0;
    --color-padrao5: #1499ED;
    --color-texto: black;
    --color-padrao6: #4079c4;
    --color-padrao7: #47acd4;
}

/*HEADER*/

header {
    background-color: var(--color-padrao6);
    min-height: 100px;
}

img {
    margin-left: 10px;
    height: 50px;
    width: 50px;
}

.texto_principal {
    font-size: 4rem;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container_texto {
    display: flex;
    align-items: center;
    margin: 10px 8px 20px 100px;
}
nav{
    margin: 16px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.container_navegacao{
    margin: 10px 100px 10px 10px;
}

li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: var(--color-padrao);
    background-color: var(--color-padrao5);
    border-radius: 16px;
    padding: 16px ;
    transition: background-color 0.3s ease;
}
nav ul li a:hover{
    background-color: var(--color-padrao);
    color: var(--color-padrao7);
}

/*BODY*/

body {
    font-family: rubik;
    line-height: 1.6;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_conteudo {
    display: flex;
    flex-direction: column;
    width: 60% ;
    font-size: 22px;
}

/*FOOTER*/

footer {
    background-color: var(--color-padrao6);
    min-height: 220px;
}

.footer_elements {
    display: flex;
    justify-content: space-between;
    margin: 20px 200px 0px 120px;
    font-size: 20px;
}

.social_icons a i {
    font-size: 24px;
    color: var(--color-padrao);
    padding: 14px;
    border-radius: 80px;
    background-color: var(--color-padrao5);
    transition: background-color 0.3s ease;
}

.social_icons a i:hover{
    background-color: var(--color-padrao2);
}
.footer_section ul li a{
    text-decoration: none;
    color: var(--color-padrao);
}

.footer_section_sobre{
    display: flex;
    flex-direction: column;
    width: 30% ;
    font-size: 16px;
}
.copyright {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-right: 50px;
    font-size: 12px;
}