* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --color-padrao: #043469;
    --color-padrao2: #0650A1;
    --color-padrao3: #0863C7;
    --color-padrao4: #0970E0;
    --color-padrao5: #1499ED;
    --color-texto: black;
    --color-padrao6: #4079c4;
    --color-padrao7: #47acd4;
}

/*HEADER*/

header {
    background-color: var(--color-padrao6);
    min-height: 100px;
}

img {
    margin-left: 10px;
    height: 50px;
    width: 50px;
}

.texto_principal {
    font-size: 4rem;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container_texto {
    display: flex;
    align-items: center;
    margin: 10px 8px 20px 100px;
}
nav{
    margin: 16px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.container_navegacao{
    margin: 10px 100px 10px 10px;
}

li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: var(--color-padrao);
    background-color: var(--color-padrao5);
    border-radius: 16px;
    padding: 16px ;
    transition: background-color 0.3s ease;
}
nav ul li a:hover{
    background-color: var(--color-padrao);
    color: var(--color-padrao7);
}

/*BODY*/

body {
    font-family: rubik;
    line-height: 1.6;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_conteudo {
    display: flex;
    flex-direction: column;
    width: 60% ;
    font-size: 22px;
}

/*FOOTER*/

footer{
    background-color: var(--color-padrao6);
    padding-top: 20px;
    min-height: 50px;
}

.footer-container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content{
    width: 33.3%;
}

h3{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul{
    text-align: center;
}

.footer-list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}

.footer-list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.footer-list li:hover::before{
    width: 70px;
}

.social-icons{
    text-align: center;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}

a{
    text-decoration: none;
}
a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}

.footer-bottom{
    background: #f18930;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}
.footer-bottom p{
    color: #343434;
    margin: 0;
    font-size: 16px;
}
